<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="header" th:fragment="cabecera" align="center">
		<h2>Votacion</h2>
		<hr />

		<form id="crear_voto" 
		th:object="${vot}" 
		th:action="@{/guardarVoto}" 
		method="post">
		
		<h3>Lstado de Opciones</h3>
			<div th:each="opcion: ${opciones}" align="center">
			
				<h3 th:text="${opcion.id}+' '+${opcion.descripcion}"></h3>
				
			</div>

			<br/>
			
			<label>Inserte opcion elegida:</label>
			<input id="idOcion" type="text" th:field="*{idOpcion}"/>
			
			<br/>
			
			<input type="submit" name="guardarVoto" value="Votar" />
			
			<a th:href="@{/irVotaciones}">Volver</a>
	
		</form>

	</div>

</body>
</html>