<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
	<div th:replace="fragments/header :: cabecera">
		<p>Bienvenido a la gestión de votos y recuento</p>
	</div>
	
	<h2>Datos del usuario autenticado</h2>
	<ul>	
		<li><strong>ID:</strong> <span th:text="${usuario.id}" /></li>
		<li><strong>Nombre:</strong> <span th:text="${usuario.nombre}" /></li>
		<li><strong>Email:</strong> <span th:text="${usuario.email}" /></li>
		<li><strong>NIF:</strong> <span th:text="${usuario.NIF}" /></li>
		<li><strong>Colegio Electoral:</strong> <span th:text="${usuario.codColElectoral}" /></li>
	</ul>
	<ul>
		<li><strong>login:</strong> <span th:text="${usuario.login}" /></li>
		<li><strong>password:</strong> <span th:text="${usuario.password}" /></li>
	</ul>
	
	<h2>Opciones del usuario</h2>
	<ul>
		<li><a th:href="@{/UpdatePassword(id=${usuario.id})}">Cambiar clave</a></li>
		<li><a th:href="@{/goVotaciones(u=${usuario.id})}">Votar</a></li>
	</ul>
	
	<p>
		<a href="/Login">Salir</a>
	</p>
</body>
</html>