<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css" th:href="@{/css/voting.css}"
	rel="stylesheet" />
</head>
<body>
	<div align="left">
		<form>
			<a th:href="@{/admin}">Administrar</a>
			<a th:href="@{/colegio}">Colegio</a>
		</form>
	</div>
	<div class="header" th:fragment="cabecera" align="center">
		<h2>Inicie Sesion</h2>
		<hr />

		<form id="crear_votacion" 
		th:object="${vot}" 
		th:action="@{/irVotaciones}" 
		method="post">

			<label>Id de Usuario:</label>
			<input id="idUser" type="text" value="" th:field="*{idUsuario}" />
			
			<br/>
			
			<input type="submit" name="crearVotacion" value="Iniciar Sesion" />
			
		</form>			
	
	</div>

</body>
</html>