
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="refresh" content="5" />
<head th:replace="fragments/header :: head">

</head>

<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<h2>Indique la eleccion a consultar online:</h2>

	<form action="/online" method="POST">
		ID Eleccion: <input type="text" name="idEleccion"/>
		<input type="submit" />
	</form>

	<h2>Elecciones disponibles</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="v, i : ${elecciones}">
				<td th:text="${{v.id}}"></td>
				<td th:text="${{v.definicion}}"></td>
			</tr>
		</tbody>
	</table>
	
	<div th:replace="fragments/back :: back"></div>
</body>
</html>