
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="refresh" content="120" />
<head th:replace="fragments/header :: head">
<meta charset="UTF-8" />
</head>

<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<h2>Resultado de la votación online</h2>

	<p>
		La siguiente tabla muestra los votos escrutados hasta el momento.
		Dicha tabla se actualiza de forma automática cada '120' segundos ('2' minutos).
	</p>
	<p>
		Útima actualización a las 
		<script type="text/javascript"> 
			var d = new Date(); 
			document.write(d.getDate() + "/" + (d.getMonth() +1) + "/" + d.getFullYear(), ', '+d.getHours(),':'+d.getMinutes(),':'+d.getSeconds()); 
		</script>
	</p>

	<table border="1">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Elección</th>
				<th>Colegio</th>
				<th>Opción</th>
				<th>Online</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="v, i : ${votos}">
				<td th:text="${{i.index + 1}}"></td>
				<td th:text="${{v.eleccion}}"></td>
				<td th:text="${{v.colegioElectoral}}"></td>
				<td th:text="${{v.opcion}}"></td>
				<td th:text="${{v.online}}"></td>
			</tr>
		</tbody>
	</table>

	<div th:replace="fragments/back :: back"></div>
</body>
</html>